---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - path: patch-channel.yaml
    target:
      group: operators.coreos.com
      version: v1alpha1
      kind: Subscription
      name: mtv-operator